<div>
  <h4>LISTADO DE USUARIOS</h4>
  {{#each usuarios}}
    <div class="div-users">
      <p>nombre {{this.name}}, edad {{this.edad}}</p>
      <img class="img" src={{this.img}}>
    </div>
  {{/each}}
</div>